.loginArea {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
}

.loginFormArea {
	width: 100%;
}

.loginFormArea h2 {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.loginArea {
		width: 90%;
	}
}
